spring:
  datasource:
    url: jdbc:mysql://test-server:3306/ticket_system_test
    username: test_user
    password: test_password

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

jwt:
  secret-key: test-jwt-secret-key-for-testing-67890